# Python virtual environments
reintEnv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# IDE files
.metadata/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env